<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="<%=BASE_URL%>css/index.css">
</head>

<body>
    <form action="http://localhost:3300" method="POST">
        <label for="userName">账户名：</label>
        <input type="text" id="userName" name="userName"/>
        <label for="pwd">密码：</label>
        <input type="password" id="pwd" name="pwd">
        <button type="submit">登陆</button>
    </form>
</body>

</html>